/* tooltip.css */
.custom-tooltip {
  display: block; 
  width: max-content!important;
  max-width: 200px!important; 
  white-space: normal; 
  text-align: center;
  padding: 10px;
  font-size: 12px; 
  background-color: rgb(0, 21, 255)!important;
  color: rgb(252, 106, 3)!important;
  border-radius: 5px; 
}