.custom-tooltip {
  display: block; 
  width: 30px;
  max-width: 30px; 
  white-space: normal; 
  text-align: center;
  padding: 10px;
  font-size: 12px; 
  background-color: #555; 
  color: #fff; 
  border-radius: 5px; 
}